/* Estilos generales */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  flex-wrap: wrap;
  display: flex;

  
}

/* Estilos para el encabezado */

header {
  
  background-color: #333;
  background: url(peña.png) no-repeat;
  background-size: cover;
  background-position: center top;

  color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  

  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 999;
  margin: 0 auto;
  height: auto;
  
}
.imagen{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.imagen img{
  margin-right: 10px;
  height: 100px
}


nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}


h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover {
  text-decoration: underline;
  color: black;
}

section h2 {
  color: #333333;
  font-size: 36px;
  font-weight: bold;
  margin-left: 0.2%;
  text-align: left;
  
}

#servicios{
  
  color: #333;
}
.container2{
  color: #333333;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.5;
  color: #333;
}

.servicios{
  margin-bottom: 5%;
  color: #333;
}
p {
  margin-bottom: 3em; /* Ajusta el valor según tus necesidades */
}



/* Estilos para las secciones de contenido */


section p {
  color: #666666;
  font-size: 18px;
  line-height: 1.5;
  
  text-align: left;
  margin-left: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}



footer {
  
  background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  margin-top: auto;
  width: 100%;
  height: 100px;
	bottom: 0;
	display: flex;
	justify-content:center ;
  z-index: 99;
}

@media(max-width: 700px){
  header{
    flex-direction: column;
  }

  nav{
    padding: 10px 0px;
  }

  
}



